@model IEnumerable<VehicleTracker.Models.Vehicle>

@{
    ViewData["Title"] = "Vehicle Tracker";
}

    <h2>Vehicle Tracker</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentFuelLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfTires)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentFuelLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfTires)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                <a asp-controller="Tires" asp-action="Index" asp-route-id="@item.ID">Check Tires</a>
            </td>
        </tr>
}
    </tbody>
</table>
